.info {
  margin: 0 0 10px;
}

.editorInput input {
  display: block;
  margin-bottom: 10px;
  border: 2px solid #757575;
  border-radius: 7px;
  height: 30px;
  padding: 5px;
  outline: none;
}

.editorInput input:focus {
  border: 2px solid #26c6da;
}

.btnGroup {
  margin-left: auto;
}

.btn {
  padding: 5px;
  margin-left: 10px;

  border-radius: 7px;

  background-color: transparent;

  cursor: pointer;
}

.delete {
  composes: btn;
  border: 1px solid #ff8a80;
  color: #ff8a80;
}

.edit {
  composes: btn;
  border: 1px solid #29b6f6;
  color: #29b6f6;
}
.save {
  composes: btn;
  border: 1px solid #ffc107;
  color: #ffc107;
}
.cancel {
  composes: btn;
  border: 1px solid #4caf50;
  color: #4caf50;
}

.delete:hover,
.delete:focus {
  color: #ffffff;
  background-color: #ff8a80;
}
.edit:hover,
.edit:focus {
  color: #ffffff;
  background-color: #29b6f6;
}
.save:hover,
.save:focus {
  color: #ffffff;
  background-color: #ffc107;
}
.cancel:hover,
.cancel:focus {
  color: #ffffff;
  background-color: #4caf50;
}
