.form {
  text-align: center;
}

.form input {
  display: block;
  margin: 5px auto 15px;

  max-width: 300px;
  height: 30px;

  border: 2px solid #757575;
  border-radius: 7px;

  outline: none;
}

.form input:focus {
  border: 2px solid #26c6da;
}

.btn {
  width: 120px;
  padding: 10px;

  text-transform: uppercase;
  font-weight: 700;
  color: #2e7d32;

  border: 2px solid #2e7d32;
  border-radius: 7px;

  background-color: transparent;

  outline: none;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #2e7d32;

  outline: none;
}
