.contacts {
  max-width: 600px;
  margin: 0 auto;
}

.item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 10px;

  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: -1px 2px 10px 2px rgba(34, 60, 80, 0.2);
}
/* 
.item p {
  margin: 0 0 10px;
}

.btn {
  padding: 5px;

  border: 1px solid #ff8a80;
  border-radius: 7px;

  color: #ff8a80;

  background-color: transparent;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #ffffff;

  background-color: #ff8a80;
} */

.notification {
  list-style-type: none;
  text-align: center;

  color: #ff8a80;
}

.loader {
  margin: 20px auto;
  text-align: center;
}
